<layout name="layout" />


<script>
	Ext.onReady(function() {
		var app = Ext.create("PSI.App", {
			userName : "{$loginUserName}",
			productionName : "{$productionName}"
		});

		var permission = {
			add : "{$pAdd}",
			edit : "{$pEdit}",
			del : "{$pDelete}",
			closeBill : "{$pCloseBill}",
			genPDF : "{$pGenPDF}",
			commit : "{$pCommit}",
			genDMWBill : "{$pGenDMWBill}",
			showAddGoodsButton : "{$showAddGoodsButton}",
			print : "{$pPrint}"
		};

		app.setAppHeader({
			title : "{$title}",
			iconCls : "PSI-fid2027"
		});
	});
</script>