<layout name="layout" />

<script src="{$uri}Public/Scripts/PSI/DMO/DMOMainForm.js?dt={$dtFlag}"
	type="text/javascript"></script>

<script>
	Ext.onReady(function() {
		var app = Ext.create("PSI.App", {
			userName : "{$loginUserName}",
			productionName : "{$productionName}"
		});

		var permission = {
			add : "{$pAdd}",
			edit : "{$pEdit}",
			del : "{$pDelete}",
			closeBill : "{$pCloseBill}",
			genPDF : "{$pGenPDF}",
			commit : "{$pCommit}",
			genDMWBill : "{$pGenDMWBill}",
			showAddGoodsButton : "{$showAddGoodsButton}",
			print : "{$pPrint}"
		};

		app.add(Ext.create("PSI.DMO.DMOMainForm", {
			permission : permission
		}));
		app.setAppHeader({
			title : "{$title}",
			iconCls : "PSI-fid2027"
		});
	});
</script>